// --- SASS ---

// Color Vars
$colorWhite: #FFF;
$colorBlack: #262626;
$colorGrey: #999;
$colorGreyLight: #EEE;
$colorGreen: #006837;
$colorGreenDark: #00512B;
$colorBlue: #429AF9;
$colorRed: #F94242;
$colorYellow: #FBB943;

// Fonts
$fontDefault: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontBitter: 'Bitter', serif; // Google Font (400/700)

// --- CORE ---

* {margin: 0; padding: 0;}

html {background: $colorWhite; font-family: $fontDefault;}
body {margin-top: 71px;} // offset for header

// --- TYPOGRAPHY & GLOBALS ---

h1, h2, h3, h4, h5, h6 {color: $colorBlack; font-family: $fontBitter;}
h1 {font-weight: normal;}
h2 {font-size: 40px; margin-bottom: 10px;}
p, a {color: $colorGrey; font-size: 16px; line-height: 24px;}
a {text-decoration: none; transition: all 50ms ease-in-out;}
a:hover, a:active, a:focus {color: $colorBlack;}
ul li {list-style: none;}

// --- CLASSES ---

.wrap {max-width: 1024px; margin: auto;}
.button {
	background: $colorBlack; border-radius: 15px; color: $colorWhite; line-height: 30px; padding: 0 40px;
	&:hover, &:active, &:focus {background: $colorGrey; color: $colorWhite;}
}

// --- PAGE ---

// Header
header {
	background: $colorWhite; border-bottom: 1px solid $colorGreyLight; padding: 20px; overflow: hidden;
	position: fixed; top: 0; left: 0; right: 0;
	#logo, #navPrimary {float: left;}
	#btnContact {float: right;}
}
#navPrimary {
	margin-left: 40px;
	a {line-height: 30px;}
	a+a {margin-left: 40px;}
}

// Hero Banner
#hero {
	background: $colorBlack url('../../img/hero-graphic.png') center center repeat-x; background-size: cover; height: 460px; padding: 20px 0;
}

// Services
#services {
	padding: 50px 0;
	#introServices {max-width: 600px; margin: auto; text-align: center;}
	#stats {
		display: flex; flex-wrap: wrap; margin-top: 50px;
		li {
  			box-sizing: border-box; color: $colorGrey; flex: 1 0 25%; text-align: center;
  			strong {color: $colorBlack; display: block; font-size: 32px; font-weight: bold; margin-bottom: 5px;}
		}
	}
}
#cells {
	overflow: hidden;
	.cell {border: 1px solid $colorGreyLight; float: left; margin-top: 20px; padding: 20px; width: 460px;}
	.cell:nth-child(odd) {margin-right: 20px;}
	#tutorials {border-bottom: 10px solid $colorBlue;}
	#videos {border-bottom: 10px solid $colorYellow;}
	#books {border-bottom: 10px solid $colorRed;}
	#podcasts {border-bottom: 10px solid $colorGreen;}
}

// Conference
#conference {
	background: $colorBlack url('../../img/bg-dark.jpg') center center fixed; height: 260px; padding: 20px 0;
}

// Team
#team {
	padding: 50px 0;
	#introTeam {max-width: 600px; margin: auto; text-align: center;}
	#teamGallery {
		width: 600px; overflow: hidden;
		a {
			float: left; font-size: 14px; padding-top: 40px; text-align: center; width: 25%;
			transition: all 100ms ease-in-out;
			div {border-radius: 50px; width: 100px; height: 100px; margin: 0 auto 5px; overflow: hidden;}
		}
		$teamImgScale: 1.1;
		a:hover img {
			-ms-transform: scale($teamImgScale);
    		-webkit-transform: scale($teamImgScale);
    		transform: scale($teamImgScale);
		}
		a:nth-child(5) {margin-left: 70px;} // center second row
	}
}

// Footer
footer {
	background: $colorBlack; padding: 20px 0; margin-bottom: 50px;
}

// --- RESPONSIVE STYLES ---
// ...

// --- ANIMATIONS ---
// ...
